:root {
    --color-faber-blue: #388AF5;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--color-faber-blue);
    color: white;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    text-align: center;
}

.app {
    width: 325px;
    margin: auto
}


.form__wrapper {
    display: flex;
    flex-direction: row;
    width: 350px;
}

* + * {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 16px;
}

input {
    height: 18px;
    font-size: 16px;
    min-width: 250px;
    max-width: 250px;
}

input.invalid {
    border: 4px solid orangered;
    box-shadow: 0 0 5px orangered;
}

input:focus.invalid {
    outline: none;
    border: 4px solid orangered;
    box-shadow: 0 0 5px orangered;
}
select {
    width:40%;
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    zoom: 1;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    height: 24px;
    background-color: white;
    border-radius: 3px;
}

.radio__wrapper {
    display: flex;
    flex-direction: row;
    justify-items: start;
}

.radio__wrapper > div {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}

.btn:disabled {
    background-color: lightgray;
}

#app {
    width: 1024px;
    margin: auto;
}

.title {
    font-family: var(--font-IBM);
    font-size: 46px;
}

.devtools__wrapper {
    width: 400px;
    background-color: rgba(206, 206, 206, 0.57);
    padding: 10px;
}
